[Desktop Entry]
Type=Application
Name=Clypse
GenericName=Clipboard Manager
Comment=Modern clipboard manager for Linux
Exec=clypse
Icon=io.github.felipe_abreu.Clypse
Terminal=false
Categories=Utility;
Keywords=clipboard;copy;paste;history;
StartupWMClass=io.github.felipe_abreu.Clypse
StartupNotify=true
X-GNOME-UsesNotifications=true
Actions=Show;

[Desktop Action Show]
Name=Open Clipboard History
Exec=clypse
