[Desktop Entry]
Type=Application
Name=Clypse
Comment=Clipboard history in the panel
Exec=clypse-applet
Icon=io.github.felipe_abreu.Clypse
Terminal=false
NoDisplay=true
X-CosmicApplet=true
X-CosmicHoverPopup=Auto
X-OverflowPriority=10
Categories=Utility;
Keywords=clipboard;copy;paste;history;
