[Desktop Entry]
Type=Application
Name=Clypse
GenericName=Clipboard Manager
Comment=Modern clipboard manager for Linux
Exec=clypse
Icon=io.github.clypse.Clypse
Terminal=false
Categories=Utility;
Keywords=clipboard;copy;paste;history;
# app-id deve ser idêntico ao application_id no código GTK4.
# O compositor Wayland usa isso para associar a janela ao ícone na dock.
StartupWMClass=io.github.clypse.Clypse
StartupNotify=true
X-GNOME-UsesNotifications=true
